@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

.navbar-collapse{
	background-color: blue;
	color: white;
	font-size: 30px;
	margin: 5px;
}
.navbar-nav{
	background-color: #C5EBEB;
	color: #F7FAFA;
	position: fixed;
}
.jumbotron{
	text-align: center;
	background-image: url(fotoviral.png);
	background-color: #E79DB4;
	background-size: 100%;
	color: white;
	min-height: 700px;
	
}
.img-logo{
	border-radius: 50%;
	width:100%;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
.logo{
	position: relative;
	margin-right: 80%;
	
}
.img-fluid{ 
	max-width: 100%; height: auto;
}

li{
	list-style: none;
}
p{
	text-align: justify;
	font-size: 20px;
}
.img-src{
	width: 10px;
	height: 5px;

}
.row{
	background: #C5E5EB;
}
